nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $couleur_douce;
    }

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0px;
    width: 70%;
}

.index {
    display: flex;
}

.portail {
    display: flex;
}

.liste_nav {
    padding: 15px;
}