nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    background-color: $couleur_douce;
    height: 60px;
    }

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0px;
    width: 70%;
}

.index {
    display: flex;
}

.portail {
    display: flex;
}

.liste_nav {
    padding: 15px;
}
nav{
    ul{
        div{
            li{
                a{
                    text-decoration: none;
                    color: $couleur_fond;
                }
            }
        }
    }
}