.main_article{
    height: calc(100vh - 60px);
    overflow-y: auto;
}
.article {
    text-align: justify;
    background-color: white;
    color: black;
    gap: 50px;
    width: 70%;
    margin: 20px auto 0 auto;
    line-height: 45px;
    list-style: none;
    padding: 15px;
    border-radius: 30px;
}
.commentaire_article{
    text-align: justify;
    background-color: white;
    color: black;
    gap: 50px;
    width: 70%;
    margin: 20px auto 0 auto;
    line-height: 30px;
    list-style: none;
    padding: 15px;
    border-radius: 30px;
}

.form_comment {
    overflow: hidden;
    text-align: justify;
    background-color: white;
    color: black;
    display: flex;
    flex-flow: column;
    gap: 50px;
    width: 70%;
    margin: 20px auto 0 auto;
    line-height: 45px;
    list-style: none;
    padding: 15px;
    border-radius: 30px;
    input[type="submit"]{
        align-self: flex-end;
        width: 250px;
        font-size: 18px;
    }
    textarea{
        padding: 10px;
        max-width: 100%;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
    }
}
