.article {
    text-align: justify;
    margin: 0 auto;
    background-color: $couleur_douce;
    color: $couleur_claire;
    gap: 50px;
    width: 70%;
    margin: 0 auto;
    line-height: 45px;
    list-style: none;
    padding: 15px;
    border-radius: 30px;
}

