.connexion {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $couleur_fond;
}
.form_connexion {
    a{
        color : $couleur_douce;
        text-decoration: none;
    }
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 50px ;
    border: solid 1px $couleur_sombre;
    border-radius: 20px;
    padding: 40px;
    fieldset {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 10px;
    }
    
}