.connexion {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_connexion {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 50px ;
    border: solid 1px black;
    border-radius: 20px;
    padding: 40px;
    fieldset {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 10px;
    }
    
}