.titre_article {
    text-align: justify;
    background-color: $couleur_fond;
    gap: 50px;
    width: 70%;
    margin: 0 auto;
    line-height: 45px;
    color: $couleur_claire;
}

.titre {
    font-family: Helvetica;
}