.page404 {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $couleur_claire;

    div {
        display: flex;

        justify-content: center;
        align-items: center;
        flex-flow: column;
        height: 100%;
        width: 100%;
        background-color: $couleur_fond;

        h1 {
            font-size: 150px;
        }

        a {
            color: inherit;
            font-size: 50px;
            text-decoration: none;
        }
    }
}