body{
  min-height: 100vh;
    background-color: $couleur_fond;   
    background-image: url("../img/fond3.jpeg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: $couleur_peps #ffffff;

  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: $couleur_peps;
    border-radius: 0px;
    border: 0px none #ffffff;
  }



@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Montserrat+Alternates:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
.auteur {
  font-family: 'Exo', sans-serif;
    color: $couleur_peps;
    font-weight: bold;
}
*{
  font-family: 'Exo', sans-serif;
}

.titre{
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 36px;
}
