{% extends "base.html" %}

{% block body %}


<form action="" method="post">
    
<nav> <a href="accueil.html">Accueil</a>
    <a href="article.html">Articles</a>
    <a href="connexion.html">Connexion</a>
    <a href="inscription.html">Inscription</a>
</nav>
<main class="main_accueil">

{% for article in articles %}
<article>
    

        <h1>{{ article["titre"]}}</h1>
        <p>{{ article["auteur"]}}</p>
        <p>{{ article["date"]}}</p>
        <p>{{ article["resumer"]}}</p>

</article>
{% endfor %}
</main >



{% endblock %}