{% extends "base.html" %}

{% block body %}



<nav>
    <ul>
        <div class="index">
            <li class="liste_nav"><a href="accueil.html">Accueil</a></li>
            <li class="liste_nav"><a href="liste_articles.html">Articles</a></li>
        </div>
        <div class="portail">
            <li class="liste_nav"><a href="connexion.html">Connexion</a></li>
            <li class="liste_nav"><a href="inscription.html">Inscription</a></li>
        </div>
    </ul>
</nav>
<main class="main_accueil">
{%for article in articles%}
<article class="titre_article_accueil">
    <h1>{{ article["titre"]}}</h1>
    <p>{{ article["auteur"]}}</p>
    <p>{{ article["date"]}}</p>
    <p>{{ article["resumer"]}}</p>
</article>
{%endfor%}
</main>
{% endblock %}