{% extends "base.html" %}


{% block body %}

<main >
    <article class="article">
    <h2>{{ article["titre"]}}</h2>
    <p>{{ article["auteur"]}}</p>
    <p>{{ article["date"]}}</p>
    <p>{{ article["texte"]}}</p>
    </article>

    {%for comment in comments%}
    <section>
        <p>{{comment["utilisateur"]}}</p>
        <p>{{comment["date"]}}</p>
        <p>{{comment["commentaire"]}}</p>
       
    </section>
    {%endfor%}
    <form action="" method="post" class="form_comment">
        {{form.commentaire.label}}
        {{form.commentaire()}}
        <input class="action_button" type="submit" value="Envoyer commentaire">
        {{form.csrf_token}}
    </form>
</main>
{% endblock %}