{% extends "base.html" %}


{% block body %}
    <nav> <a href="accueil.html">Accueil</a>
        <a href="liste_articles.html">Articles</a>
        <a href="connexion.html">Connexion</a>
        <a href="inscription.html">Inscription</a>
    </nav>
    {% for article in articles %}
    <article>
        <h1>{{ titre1 }}</h1>
        <p>{{ auteur }}</p>
        <p>{{ date }}</p>
        <p>{{ resume1 }}</p>
        <body>
            {{ contenu }}
        </body>
    {% endfor %}

        

    </article>
    
{% endblock %}