{% extends "base.html" %}

{% block body %}

<main class="connexion">

    <form action="" method="post" class="form_connexion">
        <a href={{ url_for('inscription') }}>Vous n'avez pas de compte ?</a>

        {%if error%} 
        <p>{{error}}</p>
        {%endif%}
        <fieldset>
            {{form.login.label}}
            {{form.login(required='required')}}

        </fieldset>

        <fieldset>
            {{form.password.label}}
            {{form.password(required='required')}}
        </fieldset>
        
        <input class="action_button" type="submit" value="Connexion">
        {{form.csrf_token}}

    </form>
</main>
{% endblock %}