{% extends "base.html" %}

{% block body %}
<main class="connexion">

    <form action="" method="post" class="form_connexion">
        <a href={{ url_for('inscription') }}>Vous n'avez pas de compte ?</a>

        <fieldset>
            {{form.login.label}}
            {{form.login()}}

        </fieldset>

        <fieldset>
            {{form.password.label}}
            {{form.password()}}
        </fieldset>


        <input class="action_button" type="submit" value="Connexion">


    </form>
</main>
{% endblock %}