{% extends "base.html" %}
{% block body %}
<main class="ecrire_article">
    <form action="" method="post" class="form_article">  <!-- ou form_comment -->
        <fieldset>
            {{form.titre.label}}
            {{form.titre()}}
        </fieldset>

        <fieldset>
            {{form.texte.label}}
            {{form.texte()}}
        </fieldset>
        
        <input class="action_button" type="submit" value="Publiez votre article">
        {{form.csrf_token}}
    </form>
</main>
{%endblock%}