{% extends "base.html" %}

{% block body %}

    <nav> <a href="accueil.html">Accueil</a>
        <a href="liste_articles.html">Articles</a> <!-- *modifié* -->
        <a href="connexion.html">Connexion</a>
        <a href="inscription.html">Inscription</a>
    </nav>
    {%for article in articles%}
    <article>
        <h1>{{ article["titre"]}}</h1>
        <p>{{ article["auteur"]}}</p>
        <p>{{ article["date"]}}</p>
        <p>{{ article["resumer"]}}</p>
    </article>
    {%endfor%}
{% endblock %}