{% extends "base.html" %}

{% block body %}




<main class="admin" style="background-color:#FFF ;">
    
    <article class="commentaire_admin">
        {% if article %}
        {{article.titre}}
        {% endif  %}
{% if commentaire  %}
    <p>{{ commentaire["utilisateur"]}}</p>
    <p>{{ commentaire["date"]}}</p>
    <p>{{ commentaire["commentaire"]}}</p>
    <form action="" method="post" class="form_admin">
        <fieldset>
            <legend>souhaitez vous valider le commentaire </legend>
        
            <div>
              {{form.validation()}}
            </div>
    
        
           
        </fieldset>
        
        <input class="action_button" type="submit" value="Entrer">
        {{form.csrf_token}}

    {% else %}
    <p> pas de commentaire </p>
{% endif  %}

    </article>

</main>
{% endblock %}