{% extends "base.html" %}

{% block body %}

<main class="page_validation">

    <form action="" method="post" class="form_connexion">
        
            
           
                <h1 class="titre_liste_articles"> prrroooooout</h1>
                <h2> {{  commentaire}}</h2>
              
       
    
        <fieldset>
            <legend>Voulez vous valider le commentaire ? </legend>
        
            {{form.validation.label}}
            {{form.validation()}}

        
          
        </fieldset>
        
        <input class="action_button" type="submit" value="Entrez">
        {{form.csrf_token}}

    </form>
</main>
{% endblock %}